client localhost {
	ipaddr = 127.0.0.1
	proto = *
	secret = testing123
	require_message_authenticator = no
	nas_type	 = other	# localhost isn't usually a NAS...
	limit {
		max_connections = 16
		lifetime = 0
		idle_timeout = 30
	}
}

# IPv6 Client
client localhost_ipv6 {
	ipv6addr	= ::1
	secret		= testing123
}

{% for client in radius_clients %}
client {{ client.name }} {
{% if client.ipv4addr is defined %}
    ipv4addr = {{ client.ipv4addr }}
{% elif client.ipv6addr is defined %}
    ipv6addr = {{ client.ipv6addr }}
{% endif %}
    secret = {{ radius_secrets[radius_instance][client.name]}}
}

{% endfor %}
