{% if radius_conf_2v is defined and radius_conf_2v == 'w2v' %}
CREATE TABLE IF NOT EXISTS {{ postgres_table_w2v }} (id serial PRIMARY KEY, vlan_id smallint NOT NULL UNIQUE, vlan_name varchar(200) NOT NULL CHECK (vlan_name <> '') UNIQUE, group_name varchar(200));
CREATE TABLE IF NOT EXISTS {{ postgres_table_w2v }}_ext (id serial PRIMARY KEY, vlan_id smallint NOT NULL UNIQUE, vlan_name varchar(200) NOT NULL CHECK (vlan_name <> '') UNIQUE, realm varchar(200) NOT NULL CHECK (realm <> '') UNIQUE);
{% endif %}
{% if radius_conf_2v is defined and radius_conf_2v == 'v2v' %}
CREATE TABLE IF NOT EXISTS {{ postgres_table_v2v }} (id serial PRIMARY KEY, realm varchar(200) NOT NULL CHECK (realm <> '') UNIQUE, group_name varchar(200), two_factor bool NOT NULL DEFAULT 'f');
{% endif %}
{% if radius_conf_2v is defined and radius_conf_2v == 'n2v' %}
CREATE TABLE IF NOT EXISTS {{ postgres_table_n2v }} (id serial PRIMARY KEY, vlan_id smallint NOT NULL, mac macaddr NOT NULL UNIQUE);
{% endif %}
{% if radius_conf_2v is defined and radius_conf_2v == 'm2v' %}
CREATE TABLE IF NOT EXISTS {{ postgres_table_m2v }} (id serial PRIMARY KEY, vlan_id smallint NOT NULL, mac macaddr NOT NULL UNIQUE, psk varchar(63) NOT NULL);
{% endif %}
{% if radius_guest_accounts == true %}
CREATE TABLE IF NOT EXISTS {{ postgres_table_gast_accounts }} (id serial PRIMARY KEY, UserName varchar(64) NOT NULL UNIQUE, Attribute varchar (32) NOT NULL, op char(2) NOT NULL DEFAULT '==', Value varchar(253) NOT NULL);
{% endif %}
{% if radius_instance == 'wlan' or radius_instance == 'wlan-eduroam' %}
CREATE TABLE IF NOT EXISTS {{ postgres_table_blacklist }} (id serial PRIMARY KEY, mac macaddr NOT NULL UNIQUE, date date, descr varchar(100));
{% endif %}
